
<section class="bar">
    <div class="bar-flex">
        <section class="image-section">
            <a href="{{ site.baseurl }}/{{ include.link }}" class="animated-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="{{ site.baseurl }}/assets/img/{{ include.image }}">
                <button></button>
                <p>click for more.</p>
            </a>
        </section>
        <section>
            <section class="description-section">
                <h2>{{ include.title }}</h2>
                <p>{{ include.description }}</p>
            </section>
            <section class="button-section">
                <a href="{{ site.baseurl }}/{{ include.link }}"><button class="e62555-button"><i class="fas fa-globe"></i>Find out more</button></a>
                <button class="bg-modal-selected"><i class="fas fa-file-signature"></i>Contact Us</button>
            </section>
        </section>
    </div>
</section>