
<section class="bar">
    <div class="bar-flex">
        <section class="image-section">
            <a href="{{ site.baseurl }}/lay-of-the-land" class="animated-button" onclick="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="{{ site.baseurl }}/assets/img/lay-of-the-land-header.jpg">
                <button></button>
                <p>click for more.</p>
            </a>
        </section>
        <section>
            <section class="description-section">
                <h2>{{ page.title3 }}</h2>
                <p>{{ page.description3 }}</p>
            </section>
            <section class="button-section">
                <a href="{{ site.baseurl }}/lay-of-the-land"><button class="e62555-button"><i class="fas fa-globe"></i>Find out more</button></a>
                <button class="bg-modal-selected"><i class="fas fa-file-signature"></i>Contact Us</button>
            </section>
        </section>
    </div>
</section>

<section class="bar">
    <div class="bar-flex">
        <section class="image-section">
            <a href="{{ site.baseurl }}/due-diligence" class="animated-button" onclick="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="{{ site.baseurl }}/assets/img/due-diligence-header.jpg">
                <button></button>
                <p>click for more.</p>
            </a>
        </section>
        <section>
            <section class="description-section">
                <h2>{{ page.title4 }}</h2>
                <p>{{ page.description4 }}</p>
            </section>
            <section class="button-section">
                <a href="{{ site.baseurl }}/due-diligence"><button class="e62555-button"><i class="fas fa-globe"></i>Find out more</button></a>
                <button class="bg-modal-selected"><i class="fas fa-file-signature"></i>Contact Us</button>
            </section>
        </section>
    </div>
</section>

<section class="bar">
    <div class="bar-flex">
        <section class="image-section">
            <a href="{{ site.baseurl }}/dispute-resolution" class="animated-button" onclick="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="{{ site.baseurl }}/assets/img/dispute-resolution-header.jpg">
                <button></button>
                <p>click for more.</p>
            </a>
        </section>
        <section>
            <section class="description-section">
                <h2>{{ page.title5 }}</h2>
                <p>{{ page.description5 }}</p>
            </section>
            <section class="button-section">
                <a href="{{ site.baseurl }}/dispute-resolution"><button class="e62555-button"><i class="fas fa-globe"></i>Find out more</button></a>
                <button class="bg-modal-selected"><i class="fas fa-file-signature"></i>Contact Us</button>
            </section>
        </section>
    </div>
</section>