Our review will cover;
<section class="list-style">
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Application architecture</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>System infrastructure</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Code documentation</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Application documentation</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Code "smells"</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Unit Test Coverage</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Testing, Bug Reporting, Triaging, and Fixing Pipeline</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Existing Logical Bugs</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Existing Syntactical Bugs</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Development Pipelines and Procuedures</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Time-to-market for New Changes and Features</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Source Control Procedures</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>User Interface Investigation</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>User Experience (UX)</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Decision Making Procesess</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Collection of Analytics</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Security vulnerabilities</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Application Performance</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Database Design</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Database Schema and Documentation</p></div>
    </div>
    <div class="each">
            <div><i class="fas fa-check-circle"></i></div>
            <div><p>Schema-less Data Structure</p></div>
    </div>
    
            
            <!--
                    <li>Application architecture</li>
    <li>System infrastructure</li>
    <li>Code documentation</li>
            <li>Application documentation</li>
            <li>Code "smells"</li>
            <li>Unit Test Coverage</li>
            <li>Testing, Bug Reporting, Triaging, and Fixing Pipeline</li>
            <li>Existing Logical Bugs</li>
            <li>Existing Syntactical Bugs</li>
    <li>Development Pipelines and Procuedures</li>
            <li>Time-to-market for New Changes and Features</li>
            <li>Source Control Procedures</li>
            <li>User Interface Investigation</li>
            <li>User Experience (UX)</li>
            <li>Decision Making Procesess</li>
            <li>Collection of Analytics</li>
            <li>Security vulnerabilities</li>
            <li>Application Performance</li>
            <li>Database Design</li>
            <li>Database Schema and Documentation</li>
            <li>Schema-less Data Structure</li>-->
</section>