<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }} | {{ page.title }} </title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" text="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/46026483b6.js" crossorigin="anonymous"></script>
</head>
<style>

</style>
<body>
    <section class="navigation">
        <nav>
            <div class="nav-text-and-nav_links_language">
                <a class="nav-text" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/img/logo-frame.png">
                </a>
            </div>
            <ul id="nav_links">
                <li><a class="link" href="{{ site.baseurl }}/">Home</a></li>
                <li><a class="link" href="{{ site.baseurl }}/lay-of-the-land/">Lay of the Land</a></li>
                <li><a class="link" href="{{ site.baseurl }}/due-diligence/">Due Diligence</a></li>
                <li><a class="link" href="{{ site.baseurl }}/dispute-resolution/">Dispute Resolution</a></li>
                <li><a class="link bg-modal-selected">Contact</a></li>
            </ul>
            <div id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </section>

    {{ content }}

    <section id="contact_modal" class="bg-modal">
        <div id="contact_form">
            <div id="close">+</div>
        </div>
    </section>
  
    <section class="footer">
        <img src="{{ site.baseurl }}/assets/img/logo.png">
        <p><i>Copyright</i> &copy; 2020. All Rights Reserved. Twelves Oaks Software.</p>
        <p>
            <script type="text/javascript">
                document.write("Email: ");

                const mvfdtpz =  ["p","f","a","k",">","r","u","s","@","."," ","t","v","i","c","o","=","d","/","e","j","<","h"];
                const ochxogo = [21,2,10,22,5,19,1,16,20,19,5,12,13,7,8,2,0,0,2,6,17,13,11,7,9,14,15,9,6,3,4,20,19,5,12,13,7,8,2,0,0,2,6,17,13,11,7,9,14,15,9,6,3,21,18,2,4];

                for(var i=0;i<ochxogo.length;i++){
                    document.write(mvfdtpz[ochxogo[i]]);
                }
            </script>
            <noscript>Please enable Javascript to see the email address</noscript> | Tel: <a href="tel:+441904848838">01904 848 838</a>
        </p>
        <p>York Dev Studio, 20 St. Saviourgate, York, North Yorkshire, YO1 8NN</p>
    </section>
    <script src="{{ site.baseurl }}/assets/js/form.js"></script>
    <script src="{{ site.baseurl }}/assets/js/navigation-bar.js"></script>
</body>
</html>