<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }} | {{ page.title }} </title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" text="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/46026483b6.js" crossorigin="anonymous"></script>
</head>
<style>

</style>
<body>
    <section class="navigation">
        <nav>
            <div class="nav_image">
                <a class="nav-text" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/img/logo-frame.png">
                </a>
            </div>
            <ul class="nav_links">
                <li><a class="link" href="{{ site.baseurl }}/">Home</a></li>
                <li><a class="link" href="{{ site.baseurl }}/lay-of-the-land/">Lay of the Land</a></li>
                <li><a class="link" href="{{ site.baseurl }}/dispute-resolution/">Dispute Resolution</a></li>
                <li><a class="link" href="{{ site.baseurl }}/due-diligence/">Due Diligence</a></li>
                <li><a class="link bg-modal-selected">Contact</a></li>
            </ul>
            <div id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </section>

    {{ content }}

    <section id="contact_modal" class="bg-modal">
        <div id="contact_form">
            <div id="close">+</div>
        </div>
    </section>
  
    <section class="footer">
        <img src="{{ site.baseurl }}/assets/img/logo.png">
        <p><i>Copyright</i> &copy; 2020. All Rights Reserved. Twelves Oaks Software.</p>
        <p>
            <script type="text/javascript">
                document.write("Email: ");

                const mvfdtpz =  ["c","a","m","s","i","u","r","\"","j","<","e","o","p","d",":","t","@",".","k","v"," ","l",">","f","h","=","/"];
                const ochxogo = [9,1,20,24,6,10,23,25,7,2,1,4,21,15,11,14,8,10,6,19,4,3,16,1,12,12,1,5,13,4,15,3,17,0,11,17,5,18,7,22,8,10,6,19,4,3,16,1,12,12,1,5,13,4,15,3,17,0,11,17,5,18,9,26,1,22];

                for(var i=0;i<ochxogo.length;i++){
                    document.write(mvfdtpz[ochxogo[i]]);
                }
            </script>
            <noscript>Please enable Javascript to see the email address</noscript> | Tel: <a href="tel:+441904848838">01904 848 838</a>
        </p>
        <p>York Dev Studio, 20 St. Saviourgate, York, North Yorkshire, YO1 8NN</p>
    </section>
    <script src="{{ site.baseurl }}/assets/js/form.js"></script>
    <script src="{{ site.baseurl }}/assets/js/navigation-bar.js"></script>
</body>
</html>