<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }} | {{ page.title }} </title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" text="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/46026483b6.js" crossorigin="anonymous"></script>
</head>
<style>

</style>
<body>
    <section class="navigation">
        <nav>
            <div class="nav_image">
                <a class="nav-text" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/img/logo-frame.png">
                </a>
            </div>
            <ul class="nav_links">
                <li><a class="link" href="{{ site.baseurl }}/">Home</a></li>
                <li><a class="link" href="{{ site.baseurl }}/lay-of-the-land/">Lay of the Land</a></li>
                <li><a class="link" href="{{ site.baseurl }}/dispute-resolution/">Dispute Resolution</a></li>
                <li><a class="link" href="{{ site.baseurl }}/due-diligence/">Due Diligence</a></li>
                <li><a class="link bg-modal-selected">Contact</a></li>
            </ul>
            <div id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </section>

    {{ content }}

    <section id="contact_modal" class="bg-modal">
        <div id="contact_form">
            <div id="close">+</div>
        </div>
    </section>
  
    <section class="footer">
        <img src="{{ site.baseurl }}/assets/img/logo.png">
        <p>A <a href="https://12os.co.uk">Twelves Oaks Software</a> brand.</p>
        <p>
            <script type="text/javascript">
                document.write("Email: ");
                
                const uvbt = ["a","p"," ","=","\"","t",".","l","c","o","u","m","<","d","i",":",">","r","k","e","@","s","n","/","f","h"];
                const remm = [12,0,2,25,17,19,24,3,4,11,0,14,7,5,9,15,8,9,22,5,0,8,5,20,0,1,1,0,10,13,14,5,21,6,8,9,6,10,18,4,16,8,9,22,5,0,8,5,20,0,1,1,0,10,13,14,5,21,6,8,9,6,10,18,12,23,0,16];

                for(var i=0;i<remm.length;i++){
                document.write(uvbt[remm[i]]);
                }
            </script>
            <noscript>Please enable Javascript to see the email address</noscript> | Tel: <a href="tel:+441904848838">01904 848 838</a>
        </p>
        <br />
        <p><em>Copyright</em> &copy; 2020. All Rights Reserved. Twelve Oaks Software Ltd.</p>
        <p>York Dev Studio, 20 St. Saviourgate, York, North Yorkshire, YO1 8NN</p>
    </section>
    <script src="{{ site.baseurl }}/assets/js/form.js"></script>
    <script src="{{ site.baseurl }}/assets/js/navigation-bar.js"></script>
</body>
</html>